form {
    display: flex;
    flex-direction: column;
    /* text-align: center;
    width: 60%;
    display: block;
    text-align: center;
    margin: auto 0; */
}

fieldset {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    /* height: auto;
    width: 95%;
    align-items: center; */
   
}

h1 {
    text-align: center; 
}

label {

}

input {
    
}